<%= render 'pages/viewchange' %>
<table class="profile" summary="Information profil">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.nom %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Nom</strong> <%= @user.nom %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
  <% if current_user != nil && @user.id == current_user.id || current_user.admin? %>
  <tr>
    <td>
      <%= link_to "Edit", edit_user_path(@user) %>
    </td>
  </tr>
  <% end %>
</table>