<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascripts' %>
  </head>
  <body onload="init();" onResize="onWindowResize();">
    <div id="canvasdiv">
      <%= render 'layouts/canvas' %>
    </div>
    <div id="mainContainer" class="container">
      <div class="container">
        <%= render 'layouts/header' %>
        <section class="round">
          <%= render 'layouts/flash' %>
          <h1><%= subtitle %></h1>
          <%= yield %>
        </section>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>